.column {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.conditions {
    height: 3.875rem;
}

@media print {
    .column {
        gap: 0.375rem;
    }

    .conditions {
        height: 2.5rem;
    }
}
